.footer-container{
    background: $secondary-color;
    padding: 80px 0 40px 0;
    @media screen and (max-width: 800px) {
        text-align: center;
    }
    #main-footer{
        .contato{
            .wrap-logo{
                text-align: center;
                padding-bottom: 60px;
            }
            .mail{
                padding: 20px 0;
                a{
                    font-size: 18px;
                    letter-spacing: 3px;
                    line-height: 40px;
                    color: $white;
                    font-weight: 700;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                    transition: all .3s;
                    &:hover{
                        color: $primary-color;
                    }
                    @media screen and (max-width: 1025px) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: 480px) {
                        font-size: 12px;
                        line-break: anywhere;
                    }
                }
            }
            .social{
                .sociais{
                    display: inline-block;
                    margin-right: 20px;
                    i{
                        color: $primary-color;
                        font-size: 28px;
                        transition: all .3s;
                    }
                    &:hover{
                        i{
                            color: $white;
                        }
                    }
                }
            }
        }
        .right{
            @media screen and (max-width: 480px) {
                padding-left: 0; 
                padding-right: 0; 
            }
            .left{
                width: 41.5%;
                @media screen and (max-width: 480px) {
                    padding-left: 0; 
                    padding-right: 0; 
                }
            }
            .right{
                width: 57.5%;
                @media screen and (max-width: 480px) {
                    padding-left: 0; 
                    padding-right: 0;  
                }
            }
        }
        h2{
            font-size: 26px;
            line-height: 32px;
            color: $white;
            font-weight: 700;
            font-family: "Playfair Display";
            padding-bottom: 15px;
            @media screen and (max-width: 800px) {
                display: inline-block;
            }
            @media screen and (max-width: 480px) {
                font-size: 23px;
            }
            &::after{
                content: '';
                width: 115px;
                height: 2px;
                background: $primary-color;
                display: block;
                margin-top: 5px;
            }
        }
        li{
            position: relative;
            &:before{
               content: "";
               display: inline-block;
               width: 5px;
               height: 5px;
               background: $primary-color; 
               position: absolute;
               top: 40%;
               border-radius: 3px;
            }
            a{
                margin-left: 15px;
                font-size: 14px;
                line-height: 32px;
                color: $tertiary-color;
                font-weight: 400;
                transition: all .3s;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        .newsletter{
            padding-top: 50px;
            form{
                p{
                    margin-bottom: 15px;
                    i{
                        color: $secondary-color;
                        background: $primary-color;
                        font-size: 20px;
                        padding: 5px;
                        width: 50px;
                        height: 30px;
                        text-align: center;
                        @media screen and (max-width: 480px) {
                            width: 40px;
                        }
                    }
                    input{
                        height: 30px;
                        vertical-align: top;
                        border: 1px solid $primary-color;
                        color: $white;
                        background: $secondary-color;
                        padding: 5px 10px;
                        @media screen and (max-width: 480px) {
                            width: 80%;
                        }
                    }
                    input[type="submit"]{
                        color: $secondary-color;
                        background: $primary-color;
                        font-weight: 600;
                        padding: 5px 20px;
                        transition: all .3s;
                        cursor: pointer;
                        &:hover{
                            color: $primary-color;
                            background: $secondary-color;
                        }
                        @media screen and (max-width: 480px) {
                            width: 80%;
                        }
                    }
                    &:last-of-type{
                        text-align: right;
                        width: 73%;
                        @media screen and (max-width: 1025px) {
                            width: 88%;
                        }
                        @media screen and (max-width: 800px) {
                            width: 81%;
                        }
                        @media screen and (max-width: 480px) {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    &.second{
        padding: 5px;
        border-top: 1px solid $tertiary-color;
        .area-local{
            text-align: right;
            @media screen and (max-width: 800px) {
                text-align: center;
            }
            a{
                font-size: 16px;
                line-height: 32px;
                color: $tertiary-color;
                font-weight: 400;
            }
        }
    }
}