.main-header{
    filter: drop-shadow(0 0 8.5px rgba(37,37,37,0.45));
    background-image: linear-gradient(to right, $white 50%, $primary-color 50%);
    position: relative;
    z-index: 999;
    @media screen and (max-width: 800px) {
        background: $primary-color;
        // position: fixed;
        // width: 100%;
    }
    .left{
        // background-color: $white;
        padding: 60px 0px 60px 7%;
        text-align: center;
        width: 44.5%;
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    .right{
        // background-color: $primary-color;
        padding: 60px 7% 60px 0;
        text-align: right;
        width: 54.5%;
        @media screen and (max-width: 800px) {
            width: 100% !important;
            padding: 60px 7% 60px 7%;
        }
        @media screen and (max-width: 480px) {
            padding: 60px 10px 60px 10px;
        }
        .img-container{
            display: none;
            @media screen and (max-width: 800px) {
                width: 49.5%;
                display: inline-block;
                vertical-align: middle;
            }
            @media screen and (max-width: 380px) {
                display: none;
            }
        }
        .menu-container{
            @media screen and (max-width: 800px) {
                width: 48.5%;
                display: inline-block;
            }
            @media screen and (max-width: 480px) {
                width: 48.5%;
            }
            @media screen and (max-width: 380px) {
                width: 100%;
            }
        }
        .linguagem{
            display: inline-block;
            padding-right: 50px;
            @media screen and (max-width: 800px) {
                padding-right: 10px;
            }
            a, span{
                color: $secondary-color;
                font-size: 22px;
                letter-spacing: 3px;
                line-height: 32px;
                font-weight: 700;
                vertical-align: middle;
            }
            a{
                cursor: pointer;
                transition: all .3s;
                &:hover{
                    color: $white;
                }
            }
        }
        .menu-bars{
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            width: 45px;
            height: 50px;
            position: relative;
            i{
                color: $secondary-color;
                vertical-align: middle;
                font-size: 50px;
                transition: all .3s;
                position: absolute;
            }
            &:hover, &.active{
                i{
                    color: $white;
                }
            }
            &.active{
                &:hover{
                    i{
                        color: $secondary-color;
                    }
                }
            }
            .fa-times{
                display: none;
            }
        }
    }
    .menu-occ{
        background: $tertiary-color;
        display: block;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 0;
        transform: translateY(-2em);
        z-index: -1;
        transition: all .3s;
        .left, .right{
            text-align: left;
            width: 49.5% !important;
            display: inline-block !important;
            @media screen and (max-width: 480px) {
                width: 100% !important;
                display: block !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
        }
        h2{
            font-size: 26px;
            line-height: 32px;
            color: $secondary-color;
            font-weight: 700;
            font-family: "Playfair Display";
            padding-bottom: 15px;
            &::after{
                content: '';
                width: 115px;
                height: 2px;
                background: $primary-color;
                display: block;
                margin-top: 5px;
            }
        }
        li{
            position: relative;
            &:before{
               content: "";
               display: inline-block;
               width: 5px;
               height: 5px;
               background: $primary-color; 
               position: absolute;
               top: 40%;
               border-radius: 3px;
            }
            a{
                margin-left: 15px;
                font-size: 14px;
                line-height: 32px;
                color: $font-color;
                font-weight: 400;
                transition: all .3s;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        &.active{
            opacity: 1;
            z-index: 1;
            visibility: visible;
            transform: translateY(0);
            transition-delay: 0s,0s,.3s;
        }
    }
}
