/* Home
========================================================================== */
section.al-container.home{
    padding: 100px 0;
    &.historia{
        .left{
            width: 49.5%;
            margin-right: 20px;
            header{
                padding-bottom: 40px;
            }
            p{
                font-size: 18px;
                color: $font-color;
                font-weight: 400;
                padding-bottom: 40px;
            }
            a{
                font-size: 24px;
                color: $white;
                font-weight: 700;
                font-family: "Playfair Display";
                background-color: $secondary-color;
                padding: 10px 25px;
                transition: all .3s;
                border: 2px solid transparent;
                &:hover{
                    color: $primary-color;
                    border-color: $primary-color;
                }
                @media screen and (max-width: 480px) {
                    font-size: 21px;
                }
            }
        }
        .right{
            position: relative;
            background-color: transparent;
            width: calc(49.5% - 20px);
            padding: 0;
            &:before {
                content: " ";
                position: absolute;
                width: calc(49.5vw - 100px);
                height: 337px;
                z-index: -1;
                background: url('assets/images/coluna.jpg') no-repeat #e9e7e8;
                bottom: 0;
                left: 80px;
                @media screen and (max-width: 800px) {
                    width: calc(100% - 60px) !important;
                }
            }
            img{
                width: 376px;
                height: 433px;
                vertical-align: bottom;
            }
        }
    }
    &.atuacao{
        padding: 70px 0;
        h1{
            font-size: 60px;
            line-height: 70px;
            color: $tertiary-color;
            font-weight: 700;
            font-family: "Playfair Display";
            text-align: center;
            padding-bottom: 60px;
        }
        .areas-atuacao{
            text-align: center;
            .article-container{
                padding: 8px;
                background: $darken-tertiary-color;
                width: 220px;
                height: 220px;
                display: inline-block;
                margin-right: 1.2%;
                vertical-align: top;
                margin-bottom: 1.2%;
                .area{
                    background: $tertiary-color;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $primary-color;
                    padding: 30px 0 20px 0;
                    .img-container{
                        text-align: center;
                        img{
                            max-width: 100px;
                            max-height: 100px;
                        }
                    }
                    header{
                        padding-top: 10px;
                        h3{
                            font-size: 18px;
                            color: $black;
                            line-height: 20px;
                            font-weight: 600;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    &.fundador{
        .left{
            width: 49.5%;
            margin-right: 100px;
            @media screen and (max-width: 800px) {
                padding-bottom: 50px;
                margin-bottom: 50px;
                background: #faecd1;
                padding-top: 50px;
            }
            header{
                padding-bottom: 40px;
            }
            p{
                font-size: 18px;
                color: $font-color;
                font-weight: 400;
                padding-bottom: 40px;
                padding-right: 70px;
                @media screen and (max-width: 480px) {
                    padding-right: 0px;
                }
            }
            a{
                font-size: 24px;
                color: $white;
                font-weight: 700;
                font-family: "Playfair Display";
                background-color: $secondary-color;
                padding: 10px 25px;
                transition: all .3s;
                border: 2px solid transparent;
                &:hover{
                    color: $primary-color;
                    border-color: $primary-color;
                }
                @media screen and (max-width: 480px) {
                    font-size: 21px;
                }
            }
            
        }
        .right{
            width: calc(49.5% - 100px);
            img{
                margin-top: -35px;
                vertical-align: top;
            }
            @media screen and (max-width: 800px) {
                text-align: center;
            }
        }
    }
    &.blog{
        padding: 0 0 100px 0; 
        header{
            padding-bottom: 60px;
        }
        div.entry-content-blog{
            display: grid;
            position: relative;
            min-height: 440px;
            #novidades-blog{
                min-height: 420px;
                .article-container{
                    display: inline-block;
                    @media (max-width: $sm){
                        text-align: center;
                    }
                }
                article {
                    background: transparent;
                    min-height: 410px;
                    vertical-align: top;
                    transition: all 0.3s;
                    display: inline-block;
                    width: 350px;
                    &:hover {
                        box-shadow: 0px 0px 20px 0px #c3c3c3;
                    }
                    @media screen and (max-width: 1025px) {
                        width: 320px;
                    }
                    @media (max-width: $sm){
                        width: 90% !important;
                        margin: 20px 0 !important;
                        min-height: 300px;
                    }
                    a {
                        display: flex;
                        position: relative;
                        img {
                            width: 350px;
                            height: 220px;
                            object-fit: cover;
                            object-position: center;
                        }
                        span{
                            position: absolute;
                            background: $secondary-color;
                            color: $tertiary-color;
                            font-size: 16px;
                            letter-spacing: 1px;
                            font-weight: 500;
                            font-family: "Montserrat";
                            text-align: center;
                            text-transform: uppercase;
                            line-height: 1;
                            padding: 5px;
                            right: 30px;
                            top: 0;
                            b{
                                font-size: 27px;
                                letter-spacing: 1px;
                                color: $tertiary-color;
                                font-weight: 700;
                                font-family: "Montserrat";
                                text-align: center;
                                line-height: 1;
                            }
                        }
                    }
                    header {
                        padding: 10px 10px;
                        h2{
                            a{
                                font-size: 25px;
                                line-height: 32px;
                                color: $secondary-color;
                                font-weight: 700;
                                font-family: "Playfair Display";
                            }
                        }
                        span {
                            font-size: 16px;
                            line-height: 14px;
                            color: $font-color;
                            font-weight: 600;
                        }
                        .categoria{
                            font-size: 12px;
                            letter-spacing: 2px;
                            line-height: 32px;
                            color: $primary-color;
                            font-weight: 700;
                            font-family: "Montserrat";
                            @media screen and (max-width: 1025px) {
                                font-size: 11px;
                            }
                        }
                    }
                    .leia-mais{
                        padding: 0 10px;
                        a{
                            font-size: 22px;
                            line-height: 32px;
                            color: $primary-color;
                            font-weight: 700;
                            font-family: "Playfair Display";
                            i{
                                margin-left: 10px;
                                position: relative;
                                font-size: 18px;
                                &:before{
                                    position: absolute;
                                    bottom: 5px;
                                }
                            }
                        }
                    }
                }
            } 
        }    
    }
}

.back-azul{
    background: url('assets/images/back-azul.jpg') no-repeat;
    background-size: cover;
}

.fundo{
    position: relative;
    background-color: transparent;
    &:before {
        content: " ";
        position: absolute;
        width: calc(49.5vw - 50px);
        min-height: 700px;
        z-index: -1;
        background: #faecd1;
        top: 60px;
        @media screen and (max-width: 1025px) {
            min-height: 800px;
         }
        @media screen and (max-width: 800px) {
           display: none;
        }
    }
}

#rev-home{
    // min-height: 720px;
    max-width: 90%;
    margin: 0 auto;  
}

.faixa-branca{
    position: relative;
    &:before {
        content: " ";
        position: absolute;
        width: 49.5vw;
        z-index: -1;
        background: $white;
        min-height: 61%;
        top: 10.5%;
        @media screen and (max-width: 1921px) {
            min-height: 45.5%;
            top: 20.5%;
        }
        @media screen and (max-width: 1700px) {
            min-height: 43.5%;
            top: 21.5%;
        }
        @media screen and (max-width: 1300px) {
            min-height: 41%;
            top: 20.5%;
        }
        @media screen and (max-width: 1200px) {
            min-height: 38.5%;
            top: 19%;
        }
        @media screen and (max-width: 1100px) {
            min-height: 32.5%;
            top: 16.5%;
        }
        @media screen and (max-width: 1025px) {
            min-height: 43.5%;
            top: 21.5%;
        }
        @media screen and (max-width: 801px) {
            min-height: 26%;
            top: 12.5%;
        }
        @media screen and (max-width: 769px) {
            min-height: 43%;
            top: 22%;
        }
        @media screen and (max-width: 641px) {
            min-height: 21%;
            top: 10%;
        }
        @media screen and (max-width: 630px) {
            min-height: 43%;
            top: 22%;
        }
    }
}